<% content_for :title do %>My Desk<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="current_task" data-view="Text" data-title="カレントタスク" data-text="これはタイトルのところです"></div>
    </li>
  </ul>
</div>
